* {
  box-sizing: border-box;
}

#gameBoard {
  width : 300px;
  height: 300px;
  margin: 50px auto;
}

#gameBoard div.cell {
  width:30px;
  height: 30px;
  background-image: url('../images/_white.png');
  float: left;
}

.cell {
  border-top: 1px solid black;
  border-left: 1px solid black;
}

[data-x = '9'] {
  border-right: 1px solid black;
}

[data-y = '9'] {
  border-bottom: 1px solid black;
}

#gameBoard div.cell.cross {
  background-image: url('../images/_cross.png');
}

#gameBoard div.cell.circle {
  background-image: url('../images/_circle.png');
}
